.all {
  font-family: "Canva Sans", sans-serif;
  background-color: #205781;
  color: #f6f8d5;
  padding: 20px;
}

.pageHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.badgesContainer {
  background-color: #205781;
  display: flex;
  align-items: center;
  gap: 4.5px;
  flex-wrap: wrap;
  margin-top: 4px;
  cursor: pointer;
}

.badgesContainer:hover {
  background-color: #f8f9dc;
}

.settingButton img {
  width: 23px;
  height: 23px;
  margin-left: 21%;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.settingTitle {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 6px;
  margin-bottom: 16px;
}

.settingTitle img {
  width: 27px;
  height: 27px;
  margin-left: 6px;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.passwordContainer {
  margin: 10px;
}

.dashContent {
  margin-left: 45px;
  margin-top: 60px;
  display: flex; /* Enable Flexbox for horizontal layout of stats and graph */
  align-items: flex-start;
  gap: 70px; /* Spacing between stats and graph */
}

.dashboardStats {
  align-items: flex-start;
}

.currentStreak {
  width: 290px;
  height: 150px;
  border: 0.1px solid lightblue;
  border-radius: 20px;
  background-color: #4f959d;
}

.currentStreak h1 {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  margin-left: 30px;
}

.currentStreak h2 {
  font-weight: bold;
  font-size: 50px;
  margin-left: 60px;
}

.currentStreak h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 9%;
  margin-left: 19%;
}

.currentStreak p {
  font-size: 15px;
  margin-right: 20px;
  text-align: right;
}

.currentStreak img {
  margin-top: 15px;
  margin-left: 10px;
  filter: brightness(110%) /* Make it brighter to separate from background*/
    invert(100%) /* Invert colors (white becomes black-ish) */
    hue-rotate(203deg) /* Colorize */ saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.streak {
  display: flex;
}

.lifetimeScore {
  width: 290px;
  height: 150px;
  border: 0.1px solid lightblue;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #4f959d;
}

.lifetimeScore h1 {
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
  margin-left: 30px;
}

.lifetimeScore h2 {
  font-weight: bold;
  font-size: 45px;
  margin-top: 3%;
  margin-left: 23%;
}

.lifetimeScore p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 8%;
  margin-left: 18%;
}

.graphContainer {
  width: 65%;
  height: 300px;
}

.recentQuiz h1 {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.recentQuiz {
  margin-left: 45px;
  margin-top: 70px;
  width: 90%;
}

.recentQuizContainer {
  margin-left: 45px;
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 30px; /* Spacing between the boxes */
}

.singleRecentQuiz {
  border: 1px solid #fff;
  border-radius: 20px;
  width: calc(50% - 30px);
  height: auto; /* Adjust height as needed based on content */
  padding: 15px;
  cursor: pointer;
  color: #98d2c0;
  background-color: #1b496c;
  position: relative; /* Make sure the container is a positioning context */
  overflow: hidden; /*hide overflowing part*/
}

.namePercentage {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.namePercentage h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.namePercentage p {
  font-size: 19px;
  color: #f6f8d5;
}

.desCode {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}

.desCode p {
  font-size: 1rem;
  color: #658c80;
  margin-left: 7px;
}

.desCode .joinCode {
  font-size: 0.9rem;
  background-color: #4169e1;
  color: #f6f8d5;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
}

.startComplete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #f6f8d5;
  margin: 10px, 0, 10px, 0;
}

.startDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.startDate h1 {
  color: #98d2c0;
  margin: 0px;
  font-size: 20px;
}

.completeDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.completeDate h1 {
  color: #98d2c0;
  margin: 0px;
  font-size: 20px;
}

.startCompleteImg {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

@media (max-width: 768px) {
  .dashContent {
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
    gap: 30px;
  }

  .dashboardStats {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: stretch;
    width: 100%;
  }

  .currentStreak {
    width: calc(50% - 15px);
    height: auto;
  }

  .lifetimeScore {
    width: calc(50% - 15px);
    margin-top: 0;
    height: auto;
  }

  .currentStreak h1 {
    margin-left: 9%;
    margin-top: 5px;
    font-size: medium;
  }

  .currentStreak h2 {
    font-size: 30px;
    margin-top: 6px;
    margin-left: 15%;
  }

  .currentStreak h3 {
    font-size: 11px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .currentStreak p {
    font-size: 12px;
    margin-right: 12px;
    padding-bottom: 6px;
  }

  .currentStreak img {
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-left: 5px;
  }

  .lifetimeScore h1 {
    margin-left: 9%;
    margin-top: 5px;
    font-size: medium;
  }

  .lifetimeScore h2 {
    font-size: 30px;
    margin-top: 2%;
    margin-left: 13%;
  }

  .lifetimeScore p {
    font-size: 11px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .graphContainer {
    width: 100%;
  }

  .recentQuiz {
    margin-left: 0px;
  }

  .recentQuizContainer {
    margin-left: 11%;
  }

  .singleRecentQuiz {
    width: 100%;
  }

  .namePercentage h1 {
    font-size: 25px;
  }

  .completeDate {
    font-size: 11px;
  }

  .uploadProfilePictureButton > label {
    font-size: 13px;
  }
}
