@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 61% 94%; /* #F6F8D5 */
    --foreground: 205 69% 17%; /* #205781 */

    --card: 51 61% 94%;
    --card-foreground: 205 69% 17%;

    --popover: 51 61% 94%;
    --popover-foreground: 205 69% 17%;

    --primary: 205 69% 31%; /* #205781 */
    --primary-foreground: 51 61% 94%; /* #F6F8D5 */

    --secondary: 185 32% 46%; /* #4F959D */
    --secondary-foreground: 51 61% 94%; /* #F6F8D5 */

    --muted: 164 40% 72%; /* #98D2C0 */
    --muted-foreground: 205 69% 17%;

    --accent: 164 40% 72%; /* #98D2C0 */
    --accent-foreground: 205 69% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 185 32% 70%;
    --input: 185 32% 70%;
    --ring: 205 69% 31%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 205 69% 17%; /* #205781 */
    --foreground: 51 61% 94%; /* #F6F8D5 */

    --card: 205 69% 17%;
    --card-foreground: 51 61% 94%;

    --popover: 205 69% 17%;
    --popover-foreground: 51 61% 94%;

    --primary: 51 61% 94%; /* #F6F8D5 */
    --primary-foreground: 205 69% 17%; /* #205781 */

    --secondary: 185 32% 46%; /* #4F959D */
    --secondary-foreground: 205 69% 17%;

    --muted: 164 40% 72%; /* #98D2C0 */
    --muted-foreground: 205 69% 17%;

    --accent: 164 40% 72%;
    --accent-foreground: 205 69% 17%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 51 61% 94%;

    --border: 185 32% 70%;
    --input: 185 32% 70%;
    --ring: 51 61% 94%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
