.all {
  font-family: "Canva Sans", sans-serif;
  background-color: #205781;
  color: #f6f8d5;
  margin-top: 1px;
  padding: 20px;
}

.pageHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.badgesContainer {
  background-color: #205781;
  display: flex;
  align-items: center;
  gap: 4.5px;
  flex-wrap: wrap;
  margin-top: 4px;
  cursor: pointer;
}

.badgesContainer:hover {
  background-color: #f8f9dc;
}

.settingButton {
  margin-left: auto;
  margin-right: 10px;
}

.settingButton img {
  width: 23px;
  height: 23px;
  margin-left: 21%;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.settingTitle {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 6px;
  margin-bottom: 16px;
}

.settingTitle img {
  width: 27px;
  height: 27px;
  margin-left: 6px;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.passwordEmailContainer {

}

.dashContent {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.dashboardStats {
  align-items: flex-start;
}

.badgesEarned {
  width: 290px;
  height: 150px;
  border: 1.9px solid lightblue;
  border-radius: 20px;
  background-color: #4f959d;
}

.badgesEarned h1 {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  margin-left: 30px;
}

.badgesEarned h2 {
  font-weight: bold;
  font-size: 50px;
  margin-left: 60px;
  margin-top: 3%;
}

.badgesEarned h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 9%;
  margin-left: 20%;
}

.badgesEarned p {
  font-size: 15px;
  margin-right: 10px;
  text-align: right;
}

.badgesEarned img {
  margin-top: 9%;
  margin-left: 15px;
  filter: brightness(110%) invert(100%) hue-rotate(203deg) saturate(5);
  mix-blend-mode: color-dodge;
  background-color: white;
}

.badges {
  display: flex;
}

.quizPublished {
  width: 290px;
  height: 150px;
  border: 1.9px solid lightblue;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #4f959d;
}

.quizPublished h1 {
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
  margin-left: 30px;
}

.quizPublished h2 {
  font-weight: bold;
  font-size: 45px;
  margin-top: 3%;
  margin-left: 23%;
}

.quizPublished p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 8%;
  margin-left: 18%;
}

.graphContainer {
  width: 65%;
}

.recentPublishedQuiz h1 {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.recentPublishedQuiz {
  margin-left: 45px;
  margin-top: 70px;
  width: 90%;
}

.recentPublishedQuizContainer {
  margin-left: 45px;
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.singleRecentPublishedQuiz {
  border: 1px solid #fff;
  border-radius: 20px;
  width: calc(50% - 30px);
  height: auto;
  padding: 15px;
  cursor: pointer;
  color: #98d2c0;
  background-color: #1b496c;
}

.nameEditDelete {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.nameEditDelete h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.editDelete {
  display: flex;
  flex-direction: row;
  color: #f6f8d5;
  gap: 13px;
}

.desCode {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}

.desCode p {
  font-size: 1rem;
  color: #658c80;
  line-height: 1.5;
  margin-right: 10px;
  flex-grow: 1;
}

.desCode .joinCode {
  font-size: 0.9rem;
  background-color: #427c83;
  color: #f6f8d5;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2%;
}

.attemptPeopleVisibility {
  margin-top: 6.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
}

.attemptPeople {
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  color: #f6f8d5;
}

.visibility {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #f6f8d5;
}

.studentRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.studentRow:hover {
  color: #F6F8D5;
}

@media (max-width: 768px) {
  .dashContent {
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
    gap: 30px;
  }

  .dashboardStats {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: stretch;
    width: 100%;
  }

  .badgesEarned {
    width: calc(50% - 15px);
    height: auto;
  }

  .quizPublished {
    width: calc(50% - 15px);
    margin-top: 0;
    height: auto;
  }

  .badges {
    align-items: baseline;
  }

  .badgesEarned h1 {
    margin-left: 9%;
    margin-top: 5px;
    font-size: medium;
  }

  .badgesEarned h2 {
    font-size: 30px;
    margin-left: 15%;
  }

  .badgesEarned h3 {
    font-size: 11px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .badgesEarned p {
    font-size: 10px;
    margin-right: 12px;
    padding-bottom: 6px;
  }

  .badgesEarned img {
    width: 25px;
    height: 25px;
    margin-left: 9px;
  }

  .quizPublished h1 {
    margin-left: 9%;
    margin-top: 5px;
    font-size: medium;
  }

  .quizPublished h2 {
    font-size: 30px;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
  }

  .quizPublished p {
    font-size: 11px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .graphContainer {
    width: 100%;
  }

  .recentPublishedQuiz {
    margin-top: 45px;
    margin-left: 0px;
  }

  .recentPublishedQuizContainer {
    margin-left: 10%;
  }

  .singleRecentPublishedQuiz {
    width: 100%;
  }

  .nameEditDelete h1 {
    font-size: 1.3rem;
  }

  .editDelete {
    gap: 8px;
  }
  .uploadProfilePictureButton > label{
    font-size: 10px;
  }

  .attemptPeople {
    font-size:12px;
    margin-left: 0;
  }
}
